# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [ ]:
S={}
S

* create a non empty set
* print that set

In [16]:
S={4,5.5,'a'}
S

{4, 5.5, 'a'}

* iterate over the set and print results

In [17]:
for x in S:
    print(x)

a
4
5.5

* add one item to the set

In [21]:
S.update({1})
S

{1, 4, 5.5, 'a'}

* add multiple items to the set

In [37]:
S.update({1,5,5.5,'salam'})
S

{1, 4, 5, 5.5, 'a', 'salam'}

* remove an item from a set if it is present in the set

In [41]:
S.remove('a')
print(S)

{4, 5.5, 5}

In [42]:
min(S)

4

* find maximum and minimum values of the set

In [43]:
max(S)

5.5

* print the length of the set

In [44]:
len(S)

3

* create an intersection of x and y

In [49]:
x={1,5,6,3}
y={1,5,4,2}
x.intersection(y)
print(x&y)

{1, 5}

* create an union of x and y

In [50]:
x.union(y)
x|y

{1, 2, 3, 4, 5, 6}

* create difference between x and y

In [51]:
x.difference(y)
x-y

{3, 6}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [14]:
from collections import Counter
s="black cat jumped over white cat"
words = s.split()
C=Counter(words)
C

Counter({'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [15]:
C.most_common(1)

[('cat', 2)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [55]:
from collections import defaultdict
count = defaultdict(int)
count

defaultdict(int, {})

* create deque from list set used in first exercise

In [56]:
from collections import deque
K=deque(S)
print(K)

deque([4, 5.5, 5])

* append number 10 to deque

In [60]:
K.append(10)
print (K)

deque([4, 5.5, 10])

* remove element from the right end from deque

In [61]:
K.pop()
K

deque([4, 5.5])

* remove element from the left end from deque

In [62]:
K.popleft()
K

deque([5.5])

* delete all elements from deque

In [64]:
K.clear()
K

deque([])

* create named tuple (people) with name and surname as position names

In [67]:
from collections import namedtuple
people= namedtuple('people', 'name,surname')
p = people('Sam','S')
p

people(name='Sam', surname='S')

* print name and surname

In [68]:
print(p.name)
print(p.surname)

Sam
S

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [69]:
def str2up(strr):
    try:
        strr.upper()
    except :
        print('it is not string')
        return
    return

In [72]:
try:
    print([x.upper() for x in ['sam','ham','sae',3]])
except:
    print ("it is not string")

it is not string

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [94]:
def relation_to_luke(text):
    _dict = {}
    _dict["Darth Vader"] = "father"
    _dict["Leia"] = "sister"
    _dict["Ham"] = "brother in law"
    _dict["R2D2"] = "droid"
    try:
        print(f"Luke, I am your " + _dict[text])
    except :
        print(text +f" is not in the relation with Luke")

#### Task I
Fix errors in the function above so we can run following code

In [95]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your father
Luke, I am your sister
Han is not in the relation with Luke
Luke, I am your droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [96]:
#DONE above
relation_to_luke("aaaa")

aaaa is not in the relation with Luke